

<nav class="navbar navbar-dark bg-primary navbar-expand-lg  mb-4">
  <a class="navbar-brand" href="#">User Management</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/get-users" routerLinkActive="active">Get Users</a>
        <a class="nav-link" routerLink="/post-user" routerLinkActive="active">Add User</a>
        <a class="nav-link" routerLink="/put-user" routerLinkActive="active">Update User</a>
        <a class="nav-link" routerLink="/delete-user" routerLinkActive="active">Delete User</a>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>


  
